<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aliro"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD8XfQDtIc1SJ59aV7iSi1061bIRmLr5qQ"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="SignUp">
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:label="Aliro">
        </activity>
        <activity
            android:name=".EmpHomeActivity"
            android:exported="false"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EmpEditActivity"
            android:exported="false"
            android:label="Edit Profile">
        </activity>
        <activity
            android:name=".EmpRegisterActivity"
            android:exported="false"
            android:label="Visit">
        </activity>
        <activity
            android:name=".LogsActivity"
            android:exported="false"
            android:label="Logs">
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:label="Notifications">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About">
        </activity>
        <activity
            android:name=".VisitorHomeActivity"
            android:exported="false"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".VisitorEditActivity"
            android:exported="false"
            android:label="Update Profile">
        </activity>
        <activity
            android:name=".VisitorAboutActivity"
            android:exported="false"
            android:label="About">
        </activity>
        <activity
            android:name=".VisitorDiaryActivity"
            android:exported="false"
            android:label="Diary">
        </activity>
        <activity
            android:name=".VisitorRegisterActivity"
            android:exported="false"
            android:label="Register Your Visit">
        </activity>
        <activity
            android:name=".VisitorLogsActivity"
            android:exported="false"
            android:label="Logs">
        </activity>
        <activity
            android:name=".ParkingActivity"
            android:exported="false"
            android:label="Parking">
        </activity>
        <activity
            android:name=".NumberPlateActivity"
            android:exported="false"
            android:label="Parking">
        </activity>
        <activity
            android:name=".FaceRekognitionActivity"
            android:exported="false"
            android:label="Face">
        </activity>
        <activity
            android:name=".SecurityHomeActivity"
            android:exported="false"
            android:label="Aliro">
        </activity>

        <receiver android:name=".ChangePasswordActivity"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>

        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>